body {
  font-family: Ariel, sans-serif;
  margin: 0;
}

header {
  text-align: center;
  background-color: #b3b3b3;
  color: black;
  padding: 10px;
}

.wrapper {
  width: 100%;
  display: inline-flex;
  margin-top: 15%;
  background-color: whitesmoke;
}

.sidebar {
  width: 30%;
  background-color: #e6e4e4;
}
.content-info {
  width: 60%;
  margin-left: 20px;
}
.menu {
  padding: 10px;
}
.footer {
  background-color: #b3b3b3;
  color: white;
  padding: 10px;
  text-align: center;
}
.list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  line-height: 1.4;
}

.profile-pic {
  width: 50%;
  border-radius: 50%;
  margin: 25%;
}
.menu-list {
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
a {
  color: black;
}

ul#interests-setion,
#skills-section {
  float: left;
  width: 50%;
}
